table {
    width: 80%;
}

table * * * {
    padding: 5px;
}

.article #options {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 0 5%;
}

.article #options input[type=submit] {
    background: white;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}